/* Marije Dekker */
#container{
	position: relative;
	width: 1000px;
	height: 600px;
  float: left;
}
.my-legend{
  float: right;
  margin-top: 100px;
}
.my-legend ul.legend-labels li span{
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.my-legend fieldset ul{
    float: left;
    list-style: none;
}

.my-legend fieldset ul li{
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

fieldset{
	width: 250px;
}

.bar{
  fill: #666666;
}

svg{
	height: 550px;
  float:left;
}

.axis path,
.axis line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path{
  display: none;
}

#info{
  border: 0.1px solid #0000FF;
  float:right;
  margin-top: 165px;
  height:200px;
  width: 270px;
}
.placing{
  width: 1230px;
  height:550px;
}

.placing2{
  width:1300px;
  height:600px;
}